@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500;600;700;800&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    color: #fff;
}

body {
    background-color: #381a03;
    overflow-x: hidden;
}
/*Navbar Section*/
.header{
    height: 100vh;
    width: 100%;
}
.navbar{
    padding: 15px 18px;
}
.nav-item{
    margin: 0px 10px;
}
.nav-item .nav-link{
    color: #fff;
    font-size: 1.8vh;
    font-weight: 800;
    position: relative;
}
.logo{
    color: #fff;
    font-size: 3vh;
    font-weight: 600;
}
.navbar-toggler{
    color: #fff;
    
}
.nav-link::after{
    content: '';
    position: absolute;
    bottom: -1px;
    left: 0px;
    background-color: burlywood;
    width: 0%;
    height: 3px;
    transition: 0.4s ease-in-out;
}
.nav-item:hover .nav-link::after{
    width: 100%;
}
.nav-link:hover{
    color: burlywood;
}
.btn-navbar{
    display: inline-block;
    padding: 10px 35px;
    border: 1px solid burlywood;
    color: #fff;
    text-decoration: none;
    font-size: 1.8vh;
    border-radius: 50px;
    font-weight: 500;
    transition: 0.2s ease;
}
.btn-navbar:hover{
    color: burlywood;
    background-color: #1c0d01;
    border: 1px solid burlywood;
}
/* Home section*/
.content-home{
    height: 90vh;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.home-heading{
    font-size: 4.5vh;
    font-weight: 700;
    line-height: 54px;
}
.para-home{
    font-size: 2vh;
    font-weight: 500;
    color: beige;
    line-height: 24px;
    margin: 14px 0px;
}
.home-span{
    color: burlywood;
}
.home-links{
    display: inline-block;
    font-size: 2vh;
    font-weight: 500;
    color: #381a03;
    text-decoration: none;
    border-radius: 50px;
    border: 1px solid #fff;
    padding: 10px 37px;
    background-color: burlywood;
    transition: 0.4s ease;
}
.home-links:hover{
    color: burlywood;
    background-color: #1c0d01;
    border: 1px solid burlywood;
}
.btn-2{
    color: beige;
    background-color: transparent;
}
/*About Us section*/
.about-us-container{
    width: 100%;
    height: 90vh;
}
.about-us{
    width: 100%;
    height: 460px;
    background-color: #1c0d01;
    margin-top: 80px;
    position: relative;
}
.content-about{
    padding: 10px 38px;
}
.heading-about{
    font-size: 4vh;
    font-weight: bold;
    letter-spacing: 1px;
    color: burlywood;
    margin: 10px 0px;
    margin-bottom: 34px;
    position: relative;
}
.heading-about::after{
    content: '';
    position: absolute;
    left: 0px;
    bottom: -8px;
    background-color: burlywood;
    width: 46px;
    height: 2px;
}
.para-about{
    font-size: 2vh;
    font-weight: 500;
    line-height: 21px;
    margin: 25px 0px;
}
.link-about{
    text-decoration: none;
    display: inline-block;
    text-transform: uppercase;
    color: burlywood;
    border: 1px solid burlywood;
    padding: 8px 22px;
    font-size: 2vh;
    font-weight: 500;
    border-radius: 50px;
    transition: 0.4s ease;
}
.link-about:hover{
    background-color: burlywood;
    color: #1c0d01;
}
.img-about{
    width: 500px;
    height: 300px;
    position: absolute;
    top: -36px;
}