@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500;600;700;800&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    color: #fff;
}

body {
    background-color: #381a03;
    overflow-x: hidden;
}
/*Navbar Section*/
.header{
    height: 100vh;
    width: 100%;
}
.navbar{
    padding: 15px 18px;
}
.nav-item{
    margin: 0px 10px;
}
.nav-item .nav-link{
    color: #fff;
    font-size: 1.8vh;
    font-weight: 800;
}
.logo{
    color: #fff;
    font-size: 3vh;
    font-weight: 600;
}
.navbar-toggler{
    color: #fff;
    
}
.btn-navbar{
    display: inline-block;
    padding: 10px 35px;
    border: 1px solid aliceblue;
    color: #fff;
    text-decoration: none;
    font-size: 1.8vh;
    border-radius: 50px;
    font-weight: 500;
}
/* Home section*/
.content-home{
    height: 90vh;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.home-heading{
    font-size: 4.5vh;
    font-weight: 700;
    line-height: 54px;
}